body{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)),
    url('https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-position: center;
}
.my-nav a{
    color: white;
}
.main{
    margin-top: 200px;
}
.home-content{
    text-align: center;
    color: white;
}

.foot{
    text-align: center;
}